@import 'tailwindcss';

@font-face {
	font-family: 'Poppins';
	src: url('./fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('./fonts/Poppins-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('./fonts/Poppins-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('./fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@theme {
	--color-primary: #854dff;
	--color-error: #ff5757;
	--color-text-muted: #716f6f;
	--color-border: #dbdbdb;
	--color-bg-body: #f0f0f0;
	--color-bg-card: #ffffff;
}
 

@layer base {
	body {
		font-family: 'Poppins';
	}
}
